*{
    margin: 0;
}

body{
    background-image: url("./img/Fondo-calculadoras-01.png");
    background-size: cover;
}

.cabecera{
    text-align: center;
    background-color: burlywood;
    height: 50px;
}

.recuadro{
    border-radius: 6px;
    position: absolute;
    background-color: burlywood;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculo{
    height: 300px;
    width: 600px;
}

.diametro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

.respuestaDiametro{
    margin-left: 35%;
}

.base{
    font-size: 13px;
}

.altura{
    font-size: 13px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}

a{
    position: relative;
    top: 30%;
    text-decoration: none;
    color: black;
}

.titulo{
    text-align: center;
}

.company{
    text-align: center;
}

.footerInicio{
    height: 50px;
    background-color: burlywood;
    margin-top: 35%;
}

.colorFondo{
    background-color: darkkhaki;
}

footer{
    height: 50px;
    background-color: burlywood;
    margin-top: 41%;
}

.Recuadroresultado{
    position: absolute;
    border-radius: 5px;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.resultado{
    position: absolute;
    top: 43%;
    left: 48%;
}