*{
    margin: 0;
}

body{
    background-image: url("./img/Fondo-calculadoras-01.png");
    background-size: cover;
    text-align: center;
}

.cabecera{
    text-align: center;
    background-color: burlywood;
    height: 50px;
}

.recuadro{
    border-radius: 6px;
    position: absolute;
    background-color: burlywood;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculo{
    height: 300px;
    width: 600px;
}

.diametro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}

a{
    position: relative;
    top: 30%;
    text-decoration: none;
    color: black;  
}

.footerInicio{
    height: 50px;
    background-color: burlywood;
    margin-top: 40.1%;
}

.colorFondo{
    background-color: darkkhaki;
}

footer{
    height: 50px;
    background-color: burlywood;
    margin-top: 43%;
}

.footerContacto{
    height: 50px;
    background-color: burlywood;
    margin-top: 45.4%;
}

.Recuadroresultado{
    position: absolute;
    border-radius: 5px;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.resultado{
    position: absolute;
    top: 40%;
    left: 43%;
}

.contacto{
    position: relative;
    height: 30px;
    width: 85px;
}

.recuadroContacto{
    border-radius: 6px;
    position: absolute;
    background-color: aliceblue;
    top: 80%;
    left: 2%;
    transform: translate(-10%,-10%);
}

.company{
    position: absolute;
    top: 96.5%;
    left: 42%;
}

.recuadroFormulario{
    height: 500px;
    width: 500px;
}

.email{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
}

.nombre{
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
}

.genero{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}


.domicilio{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
}

.textoArea{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
}
.boton{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
}